.capa{
    width: 200px;
    height: 300px;
    display: inline-block;
    color: #fff;
    text-align: center;
    font-size: 3em;
    position: relative;
}
.number1{
    background: red;
    left: 50px;
    z-index: 20;
}
.number2{
    background: green;
    top:20px;
}
.number3{
    background: blue;
    z-index: 15;
    left: -50px;
}
.number4{
    background: yellow;
}
.number5{
    background: tomato;
}
/* Los pseudoelemtnos yu mandarlo a tars un zindex neghativo pero su padre no tiene que tener x index */