*{
    box-sizing: border-box;
    margin: 0;
}
.container{
    display: flex;
    background : yellowgreen;
    height: 300px;
    width: 350px;
    flex-wrap: wrap;
    /* flex-direction: column; */
    /* align-items: stretch; */
}
.item {
    background: blue;
    width: 30px;
    height: 30px;
    color :#fff;
    text-align: center;

}
.item:nth-child(even){
    background: red;
}
.item:nth-child(n+23){
    order: 2;
}
.item:nth-child(30){
    order: 1;
}
/*  flex-basis  :   main-size inicial
    flex-grow   :   factor de creciemiento
    flex-shrink :   factor de encogimiento

*/