*{
    box-sizing: border-box;
    margin :0;
}
.header{
    background: hsl(120,50%,50%);
    width: 100%;
}
.first{
    background: hsl(60,80%,50%);
}
aside{
    flex: 0 0 25%;
}
.second{
    background: hsl(300,50%,50%);
}
.main{
    background: hsl(200,90%,50%);
    flex: 0 0 50%;
}
.footer{
    width: 100%;
    background: hsl(180,50%,50%);
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}
.content {
    flex: auto;
    display: flex;
}