/*
http://apps.workflower.fi/vocabs/css/es
https://developer.mozilla.org/es/docs/Learn/CSS/Building_blocks/Selectors#tabla_de_referencia_de_selectores
https://artistic-knife-f2c.notion.site/CSS-db6994a1f0a54ba8bf2d1ca979243571
Cascade
Style
Sheets

CSS nace en el año 1995
1998 : CSS2
1999 : Primer borrador de CSS3 - separa las funcionalidades en modulos
los modulos avanzan por niveles
    level 1
    level 2
    level 3

html que se ve dentro del navegador es el html procesado por el navegador que no neesariamente es el codigo que nosotros escribimos

Para entender CSS de forma basica se tiene que dominar los siguientes conceptos
- Selectores
- Especificidad
- cascada
- herencia

para la parte avanzanda se tiene que dominar los siguientes conceptos:
- box-model
- position
- flexbox
- grid


En CSS a las etiqueta se les conoce como tipo

ESPECIFICIDAD : que elemento es mas especifico, los conflictos de estilos se resuelven por especificidad

es un algoritmo de css por el cual se resuelven los conflictos de estilos

tipos de selectores
- type      1
- class     10
- id        100
- inline    1000

!important gana a todos

*/

/*
ELEMENTOS DE LINEA Y ELEMENTOS DE BLOQUE

- ELEMENTOS DE BLOQUE  : se dibujan de lado a lado de la pantalla, no importa que el contenido ocupe o no el ancho de toda la pantalla
  ocupa todo el espacio horizontal del viewport, si podemos ponerle un height y un width
- ELEMENTO DE LINEA : ocupan solo su contenido, no tienen height ni width, para transformar esto a elemento de bloque display:block
    o si queremos que se comporte como un elemento de linea pero con propiedades del elemento de bloque display: inline-block;
    normalmente los inline-block nos ayudan en los estilos de los botones

elementos inline {
    a, span, inputs, img, etc
}

*/


/**

INTERNOS del box model
    contenido : data
    padding : distancia entre el contenido y el final de la caja
    border : trazo que puede dibujarse al rederdor de la caja
EXTERNOS
    margin : distancia entre un elemento y las cajas vecinas

padding, margin = 10px                  : significa 10px en todo top -> right -> bottom -> left
padding, margin = 10px 20px             : significa  10px  top -> 20px right -> 10px bottom -> 20 px left
padding, margin = 10px 20px 30px        : significa  10px  top -> 20px right -> 30px bottom -> 20 px left
padding, margin = 10px 20px 30px 40px   : significa  10px  top -> 20px right -> 30px bottom -> 40 px left


    Tener en cuenta el colapsado de Margenes, esto sucede solo en el eje vertical => se toma el mayor de los dos, nunca se suman,
    de dos elementos hermanos o de padre e hijo, siempre tener en cuenta el colapsado de margenes

    Los margenes horizontales se suman

    Dimesiones de la caja (width o height)

    Sin dimensiones definidas
        alto : contenido + padding + border
        ancho : contenido + padding + border
    Con dimensiones definidas
        alto : height + padding + border
        ancho : width + padding + border

    para que esto no me cause problemas, y mi with o mi height sea lo que yo defini sin tener que tomar en cuenta el border o el padding
    declara box-sizing : border-box, existen  { border-box, padding-box, content-box}, por defecto utiliza content-box si no especifico nada

    margin auto solo funca con display:block nada mas
*/
body{
    margin:0;
}

.elemento{
    background-color: yellow;
    padding: 2em;
    border-color: blue;
    border-style: solid;
    border-width: 2em;
    margin-bottom: 10px;
}
.otro{
    padding: 2em;
    margin-top: 10px;
    padding: 10px; /* por cascada se aplicara este estilo y no el padding anteriro */
    background-color: red;
    border-color: tomato;
    border-style: solid;
    border-width: 2em;
}
