/* Flexbox requiere de un elemento padre y al menos de un elemento hijo
    padre : flex-container
    hijo directo : flex-item
    padre {
        display : flex ; | inline-flex crea un contexto flex para susu hijos
    }

    flex-item{
        *Elementos hijos directos del flex-container
        *pseudoelementos ::before ::after 
        *El texto (flex-item anonimo)
    }
    flex-wrap : wrap | wrap-reverse


    shorthand de :
        flex-wrap : wrap-reverse
        flex-direction : row-reverse
        
    entonces : 
        flex-flow : row-reverse wrap-reverse;

    alineacion en los ejes : 
        justify-content : alinea en el main-axies
 */

.container{
    display: flex; 
    justify-content: space-between;
    align-items: center;
}
.item{
    width: 50px;
    height: 50px;
    background: red;
}
.item:nth-child(2){
    background: green;
    margin-left: -10px;
    z-index: 15;
}
