*{
    box-sizing: border-box;
    margin: 0;
}
.menu{
    padding-left: 0;
    display: flex;
    list-style: none;
    background: #333;
    
}

.menu__item {
    flex: auto;
    border-right: 1px solid black;
    position: relative;
    
    white-space: nowrap;
}
.menu__link{
    color : #fff;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: .5em;
}
.menu__item > .menu{
    display: none;
    position: absolute;
}
.menu__item:hover{
    background: black;
}
.menu__item:hover > .menu{
    display: block;
    
}
.menu__item .menu .menu{
    
    left: 100%;
    top: 0;
}