*:before,
*:after,*{
    box-sizing: border-box; /*box sizing*/
}

body{
    margin: 0;
    color : red;
}
.caja{
    
    width:500px;
    height: 300px;
    border: 2em dotted green; /*solid dashed*/ /* esto es un shothand*/
    padding: 1em;
    background-color: yellow;
    margin: 5em auto; /*solo funciona con elementos de bloque*/
    border-radius: 30% 0;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/d/d8/Panthera_tigris_corbetti_%28Tierpark_Berlin%29_832-714-%28118%29.jpg/220px-Panthera_tigris_corbetti_%28Tierpark_Berlin%29_832-714-%28118%29.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-origin: content-box; /*de que parte va a comenzar a dibujar si es que no es grande , por que si es grande lo respetara pero*/
    background-clip: content-box; /*que parte de va a mostrar*/
}
/*
    background-origin  Se utilizara para determinar a partir de donde se calculara la posicion del fondo del elemento

    background-clip : Se utilizara para que indique que parte de la caha del elemento ocupa la imagen de fondo

    background-origin
  indica a partir de donde dibujara la imagen de fondo
  puede ser
  border-box : apartir del border para adrentro (incluyendo al border)
  padding-box : apartir del padding para adrentro (incluyendo al padding)
  content-box : apartir del contenido para adrentro (incluyendo al contenido)

background-clip
  Indica apartir de donde se condiciderará como background
  border-box : apartir del border para adrentro (incluyendo al border)
  padding-box : apartir del padding para adrentro (incluyendo al padding)
  content-box : apartir del contenido para adrentro (incluyendo al contenido)
*/

.engranage{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: grey;
    margin: auto;
    border:15px dashed red;
    background-clip: padding-box;
    /* background-origin: padding-box; */
}
