a{
    display: block;
}
a:before{
    margin-right : 10px;
}

[href$="pdf"]:before{
   content: url(http://elevatedsmiles.com/wp-content/uploads/2016/05/pdf-icon.png)
}
[href$="doc"]:before{
   content: url(http://www.download82.com/images/produse/iconuri/microsoft-word.png);
}
