*{
    box-sizing: border-box;
    margin: 0;
}
.container{
    background: yellowgreen;
    display: flex;
    width: 500px;
    height:  400px;
}
.item{
    height: 30px;
    flex-basis: 1.5em;
    flex-grow: 1;

    color : #fff;
    background: red;
    /* margin: auto; */
    /* text-align: center; */
    /* align-self: center; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.item:nth-child(even){
    background: blue;
}
.item:nth-child(4){
    flex-grow: 8;
}
.item:nth-child(4){
    background: gray;
    flex-shrink: 4;
}
/* flex : grow shrink basis */
