*,
*:before,
*:after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color : white;
}
.menu{
    list-style: none;
    display: table;
    background: #333;
    margin: auto;
}
.menu a{
    display: block;
    padding: 15px;
    white-space: nowrap;
}
.menu li{
    position: relative;
}
.menu > li{
    float: left;

}
.menu li>ul{
    position: absolute;
    display: none;
}
.menu ul ul{
    top: 0;
    left: 100%;
}
.menu li:hover{
    background-color: black;
}
.menu li:hover>ul{
    display: block;
}