*,
*:before,
*:after{
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: #222;
}
.poster{
    width: 300px;
    border: 10px solid red;
    position: relative;
    overflow: hidden;
    margin:  auto;
}
.image-item{
    display: block;
    width: 100%;
    transition: all .4s;
}
.caption{
    position: absolute; /*su contexto será el poster porqu esta posicionado*/
    top:-100%;
    transition: all .5s;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .8);
    
}
.poster:hover .image-item{
    transform: scale(1.2);
}
.poster:hover .caption{
    top:0;
    color:#fff;
}