/* 
https://www.notion.so/POSITION-f2b29912ecdc47138403d8d1320c319f
elemento posicinado.- es aquel que ha salido de su flujo cuando se usa position
position _ static(default) | relative | absolute | fixed


El contexto es un reactangulo que desde el cual se calcula hacia donde se movera el elemento posicionado cuando se de left, top, etc

top y left tiene mayor prioridad

Si estan junto estas dos propiedades
top:100px GANA
bottom : 200px

Si estan junto estas dos propiedades
left:100px GANA
right : 200px

*/


/* position relative : aparente mente no cambia
    1. El elemento conseva su espacio en el flujo
    2.Conserva sus dimensiones originales
    3.Su contexto(padre) es su posicion inicial
*/
/* position absolute : cambia completamente
    1. El elemento pierde su espacio en el flujo
    2.sus dimensiones se adaptan al contenido
    3.Su contexto(padre) es su ansestro posicionado mas cercano y si no tiene se movera conrrespecto al viewport


*/
*,
*::before,
*::after{
    margin: 0;
    box-sizing: border-box;
}
.elemento {
    border: 3px dashed red;
}
h1{
    background-color: yellow;
    /* display: inline-block; */
    position: relative;
    top: 50px;
    left: 20px;;
}
p{
    background-color: pink;
    /* margin-top: -20px; */
}
