*,
*:before,
*:after{
    margin: 0;
    box-sizing: border-box;
}
/**
* Float y overflow
* float : Hace que un elemento flote salga del flujo
* overflow : 
*/
img{
    float: right;
    margin: 0 0 10px 10px;
}
.container{
    width: 80%;
    margin: 1em auto;
    border: 1px solid red;
    overflow: hidden; /*el padre envuelve a los hijos flotados*/
    /* Hay tres valores posibles para overflow
        overflow : hidden; que ocuta a los los elementos que estan fuera
        overflow : scroll ; hace un scroll en el elemento;
        overfloww : auto ; generara un scroll si lo necesita
    */
}
h1{
    margin-bottom: 2em;
}
.container::after{
    content: "";
    display: block;
    width: 400px;
    height: 400px;
    background-color: yellow;
    margin-left: -300px;
}
pre{
    overflow: auto;
    width: 100%;
    border : 2px solid green;
    margin: auto;
}