*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
ul{
    list-style: none;
}
li{
    border-bottom: 1px solid #bbb;
}
a{
    text-decoration: none;
    display: block;
    line-height: 3;
    color : #222;
    padding-left: 1em;
}
.main-nav{
    position: fixed;
    background-color: #ddd;
    width: 25%;
    top:0;
    height: 100%;
    overflow: auto;
}
main{
    margin-left: 27%;
}