/* Flexbox requerie de un elemento padre y un al menos un elemento hijo */
.container{
    display: flex; /*automaticamente se alinean respecto al main axis*/
    width: 500px;
    background:tomato;
    height: 500px;

    /* Esto se aplica al papa */
    /* flex-direction: row-reverse;  */
    /* flex-direction: column; main axis es vertical
    flex-direction: column-reverse */

    /* Por defecto */
    /* flex-wrap: nowrap; */


    /* flex-wrap: wrap; */
    flex-wrap: wrap-reverse;
}


.item{  
}
/* Entonces en este flex-container haqy dos flex-item
    El texto y el otro div
*/