*{
    box-sizing: border-box;
    margin: 0;
}
.banner{
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border:1px solid red;
    height: 300px;
}
.item{
    border: 1px solid gray;
    flex: 0 1 50px;
}
.item:last-child{
    flex: 1 0 ;
}