/* position sticky : es una mezcla entre position relative y postion fixed */
body{
    text-align: center;
    /* padding-bottom: 150em; */
    margin: 0;
}
nav{
    width: 100%;
    padding: 1em;
    background: red;
    position: sticky;

    /* cuanto espacio para que el elemtno se vuelva sticky */
    top:0;
}