/*
float, esta muy relacionado con el box model, es una propiedad qee se utilizo para la maquetacion

No usar float para hacer layouts, flexbox o grid es mejor.

float, es una propiedad que hace que un elemento flote. se salga de flujo(orden del html), es decir float rompe con el flujo.
Un ejemeplo flotado deja de estar contenido en su padre, y el padre va a contener solo los elementos no flotados,
ahora esto se notara si el padre tiene un border, el hijo flotado estará adentro y afuera del padre, para que el padre contenga al hijo o los hijos flotados
colocar overflow:hidden, tener en cuenta que los hijos que salgan del padre con un traslate o un margin negativo se ocultaran

por ejemplo en un menu desplegable tendremos este problema, ya que los elemento hijos se ocultaran

en lugar del overflow:hidden en el padre para un hijo flotado tambien se puede usar display:table

https://codepen.io/ThomRoman/pen/bGYEZzZ
https://www.notion.so/CSS-db6994a1f0a54ba8bf2d1ca979243571

*/




*:before,
*:after,*{
    box-sizing: border-box;
    margin: 0;
}
article{
    margin: 1em auto;
    width: 80%;
    border: 1px solid red;

    /*hack que hace que el padre envuelva a sus elemenos hijos flotados*/
    overflow: hidden;/*este tiene un problema , si es que nosotros manipulamos algun elemnento y hacemos que un hijo salga de la caja al ser el padre overflow hidden lo ocultara*/
    /*
        overflow : auto , añade un sroll si es que lo necesita
        overflow : scroll , añade un sroll
    */


    /*otra forma es el display table , pero no es recomendable*/
}
img{
    width: 50%;
    float: right; /*float : left , none*/

}
/*float , un elemento flotado deja de estar contenido en su padre


y overflow , 

*/
