*,
*:before,
*:after{
    box-sizing: border-box;
    margin: 0;
    
}
/* Position :
    ¿Qué es un elemento posicionado?
    Un elemento posicionado es un elemento que ha salido de su flujo con la propiedad position

    https://www.notion.so/POSITION-f2b29912ecdc47138403d8d1320c319f

    position : 
    static : valor por defecto

    El contexto es un reactangulo que desde el cual se calcula hacia donde se movera el elemento posicionado cuando se de left, top, etc

    relative : 
        1.aparentemente no cambia , el elemento conserva su espacio en flujo 
        2.Conserva sus dimensiones originales
        3.su contexto es su posicion inicial

    absolute :
        1.El elemento pierde su espacio en el flujo
        2.Sus dimensiones se adaptan al contenido
        3.Contexto es su ansestro posicionado mas cercano

    fixed

    sticky

    Cuando un elemento esta posicionado se sale del flujo, ademas adquiere nuevas propiedades


    top 
    right
    bottom
    left

    z-index : apilamiento de las capas
*/
div{
    border : 5px dashed red;
}
h1{
    background-color: yellow;
    position: relative;
}
.parrafo{
    border-color: green;
}


