*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* En flexbox los margenes cuentan */
.container{
    margin: auto;
    background: green;
    display: flex;
    width: 500px;
    height: 500px;
    flex-wrap: wrap;
    /* justify-content: flex-end; */
    /* justify-content: flex-start; */
    /* justify-content: space-between; */
    justify-content: space-around;
    /* justify-content: center;  */
    
}
/* justify-content : alineacion del main axis */

/*alineacion de elemntos del cross axis existen dos :*/

/* align-items : cuando haya una sola linea de contenido 
    align-content : cuando haya varias linea de contenido
*/
.item{
    width: 30px;
    height: 30px;
    background: yellow;
    text-align: center;
    margin: auto;
}
.item:nth-child(even){
    background: pink;
}