.capa{
    width: 200px;
    height: 300px;
    /* opacity: .7; */
    display: inline-block;
    font-size: 3em;
    color: #ddd;
    text-align: center;
    line-height: 300px;
    position: relative;
}
.uno{
    background-color: red;
    z-index: 100;
}
.dos{
    background-color: blue;
    left: -70px;
    top : 60px;
}
.tres{
    background-color: tomato;
    left: -150px;
    top : 200px;
    z-index: -100;
}