*::before,
*::after,
*{
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: #222;
}
.poster{
    width: 200px;
    position: relative;
    border: 2px solid #ddd;
    overflow: hidden;
    margin: auto;
   
}

.poster img{
    width: 100%;
    display: block;
    transition: all .2s;
}
.caption{
    position: absolute;
    color:#fff;
    width: 100%;
    height: 100%;
    top : -100%;
    transition: all .2s;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.poster:hover .caption{
    top: 0;
}
.poster:hover img{
    transform: scale(1.2);
}
