/* Position fixed 
    1. Pierde su espacio en el flujo
    2. Su contexto es el viewport
    3. Sus dimensiones se ajustan al contenido(Salvo que se haya declarado su tamaño)
    4.Se queda fijo en el viewport
*/
*,*::before,*::after{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    padding-bottom: 100em;
    padding-top: 50px;
}
.main-header{
    background-color: #222;
    color : #eee;
    padding: 1em;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
}