*,
*:before,
*:after{
    box-sizing: border-box;
    margin : 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.menu{
    display: table;
    margin: auto;
}
.menu li{
    float: left;
    background: #333;
    position: relative;
}
.menu a{
    color: white;
    display: block;
    padding: 15px ;
    white-space: nowrap;
}
.menu li>ul{
    display: none;
    position: absolute;
}
.menu ul ul {
    top: 0;
    left: 100%;
}
.menu li:hover{
    background: black;
}
.menu li:hover>ul{
    display: block;
}