*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.main-menu{
    list-style: none;
    background: #ddd;
    position: fixed;
    top: 0;
    height: 100%;
    width: 25%;
    overflow: auto;
}
.menu-link{
    line-height: 5;
    color : black;
    text-decoration: none;

}
.menu-item{
    border-bottom: 1px solid #333;
    text-align: center;
}
.main{
    margin-left: 27%;
}
.menu-item:hover{
    background-color: black;
}
.menu-item:hover .menu-link{
    color :white;
}