*::before,
*::after,
* {
    box-sizing: border-box;
    margin: 0;
}

.menu,
.menu ul {
    list-style: none;
    padding: 0;
}

.menu {
    display: table;
    background-color: #333;
    margin: auto;
}

.menu > li {
    float: left;
    
}
.menu li{
    position: relative;
}
.menu a {
    text-decoration: none;
    color: #eee;
    display: block;
    padding: .5em 1.5em;
    white-space: nowrap;
}

.menu li>ul {
    position: absolute;
    display: none;
}
.menu li:hover>ul{
    display: block;
    
}
li:hover{
    background-color: black;
}
.menu ul ul {
    top:0;
    left: 100%;
    
}
